[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/PhanKhang
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/PhanKhang
	label-Verified = -1..+1 group user/PhanKhang
	push = group user/PhanKhang
	read = group user/PhanKhang
	rebase = group user/PhanKhang
	removeReviewer = group user/PhanKhang
	submit = group user/PhanKhang
[access "refs/heads/*"]
	create = group user/PhanKhang
	push = +force group user/PhanKhang
	pushMerge = group user/PhanKhang
	read = group user/PhanKhang
[access "refs/tags/*"]
	push = group user/PhanKhang
	push = +force group user/PhanKhang
